---
layout: main
---

<h2>Archive</h2>

<h3>All Chase Summaries</h3>

<ul class="archive">
  {% for post in site.categories.summary reversed %}
  <li>
    <a href="/storm-blog{{ post.url }}">
      {{ post.date | date: "%B %d, %Y" }} &ndash; {{ post.title }}
    </a>
    <div class="summary">{{ post.summary }}</div>
  </li>
  {% endfor %}
</ul>

<h3>Off the Beaten Path</h3>

<ul class="archive">
  {% for post in site.categories.off-the-beaten-path reversed %}
  <li>
    <a href="/storm-blog{{ post.url }}">
      {{ post.date | date: "%B %d, %Y" }} &ndash; {{ post.title }}
    </a>
  </li>
  {% endfor %}
</ul>

<h3>All Posts</h3>

<ul class="archive">
  {% for post in site.posts reversed %}
  <li>
    <a href="/storm-blog{{ post.url }}">
      {{ post.date | date: "%B %d, %Y" }} &ndash; {{ post.title }}
    </a>
  </li>
  {% endfor %}
</ul>
